/* Variables */
:root {
  

  --canvas-bg-color: #F8FAFC;
  --card-bg-color: #FFF;
  --card-hover-color: #F1F5F9;
  --primary-color: #0a0a0a;
  --secondary-text: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Open Sans", sans-serif;
}

/* modal body scroll disable */
body.modal-open {
  overflow:hidden
}

/* utility classes */

.btn {
  padding: 0.25rem 0.75rem;
  /* border: 1px solid red; */
  /* background-color: green; */
  
  border-radius: 15px;
  cursor: pointer;
}

.full-width-btn {
  display: inline-block;
  width: 100%;
}

.btn-primary {
  color: var(--secondary-text);
  background-color: var(--primary-color);
  font-weight: bold;
}


/* Top section */
.top-section{
  padding: 1rem 0 2rem;
  height: 170px;
  /* border: 2px solid black; */
  position:relative;
}

.top-section h1 {
  text-align: center;
  padding: 1rem;
}

.top-section .top-controls {
  position: absolute;
  padding: 0 1rem;
  right: 25px;
  bottom: 0;
  display: flex;
  gap: 1rem;
}


/* modals */

.modal-overlay {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  /* height: 100vh; */
  /* background-color: var(--primary-color); */
  /* background-color: red; */
  /* opacity: 0.95; */
  background: rgba(0,0,0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.modal {
  background-color: #fafafa;
  opacity: 1;
  min-width: 600px;
  width: 80%;
  max-height: calc(100vh - 4rem);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 
              0 2px 4px rgba(0, 0, 0, 0.04);
  overflow-y: auto;
  overflow-x: auto;
}

.modal-container {
  width: 100%;
}

.modal-container h2 {
  text-align: center;
}

.help-instructions {
  padding: 1rem;

}
/* main area */
.main-area {
  padding: 1rem;
}

.main-stats-container {
  padding: 1rem;
}

.card-canvas {
  padding: 1rem;
  background-color: var( --canvas-bg-color);
  overflow-x: scroll;
  display: flex;
  min-height: 300px;
  width: 100%;
  gap: 1rem;
  
  
}

/* cards */
.card {
  background-color: var(--card-bg-color);
  width: 300px;
  /* min-width: 200px; */
  min-height: 200px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  /* padding: 1rem; */
}


/* card internals */
.card-header {
  width: 100%;
  padding: 0.5rem 0;
  border-top-right-radius :10px;
  border-top-left-radius: 10px ;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-text);
}

.card-meta-details {
  padding: 0.25rem;
}

.card-type {
  text-align: center;
  margin: 0.75rem 0;
}

.data-container {
  padding: 1rem;
}

.data-paragraph {
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
}

/* Modal card forms */

.bioreactor-form {
  /* height: 100vh; */
  min-height: 100%;

}
/* card opacity for overlay*/
.card-opacity {
  opacity: 0.8;
}


.card-lift {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 
              0 2px 4px rgba(0, 0, 0, 0.04);
}
.card-overlay {
  /* background-color: var(--card-bg-color); */
  background-color: var(--card-bg-color);
  width: 200px;
  min-width: 200px;
  height: 50px;
  border-radius: 10px;
}

/* forms */

.form-container {
  padding: 0.5rem 0 1rem;
  width: 100%;
  /* border: 1px solid red; */
}

.form-input-container {
  margin-bottom: 0.25rem;
}

.form-input-label-full {
  display: block;
  /* font-size: 1.5rem; */
  font-weight: 600;
}

.form-text-input-full,
.form-select-input-full {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
}



.form-select-input-full .form-select-option {
  font-size: 1rem;
  margin: 1rem 0 ;
}

.form-input-error {
  border: 3px solid red
}

.form-label-error {
  color: red;

}

.form-error-text {
  color: red;
  font-weight: 600;
  font-size: 1rem;

}